.nav {
    grid-area: n;
    background-color: blueviolet;
    padding: 20px 15px 20px 15px;
}

.nav__item a {
    color: white;
    text-decoration: none;
    /* margin-top: 10px; */
}

.nav__item .active {
    color: gold;
}